[Desktop Entry]
Comment=New Experience 2.0.1
Name=New Experience 2
X-KDE-PluginInfo-Author=EQuilibrium (Zlatko Barnak)
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=equilibrium@barnak.co.rs
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=NewExperience2
X-KDE-PluginInfo-Version=2.0.1
X-KDE-PluginInfo-Website=EQuilibriumOS.com
X-KDE-ServiceTypes=Plasma/LookAndFeel
